RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteBase /mvc-wdev/
RewriteRule ^(.+)\/?$ ./index.php [QSA,NC]
# RewriteRule ^(.*)$ ./index.php [QSA, NC]
# RewriteRule ^ index.php [QSA,NC]